openai
python-dotenv
langchain
langchain-core
langchain-community
langchain-openai
langgraph
pydantic
pandas
flask
scikit-learn
pillow
chromadb
mem0ai
faiss-cpu
dppy
transformers
torch
numpy
sentence-transformers>=2.6.0